.planetDetailContainer {
    padding-top: 3%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    color: white;
}

.planetDetailsWithImg {
    font-weight: bold;
    width: 40%;
    text-align: center;
}

.planetDetailsWithImg img {
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 10px;
}

.planetDetailsWithImg img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.planetDetails {
    width: 40%;
}

.planetDetails div {
    padding: 10px;
}

.residentsInfoBlock {
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.selectName {
    background-color: wheat;
    padding: 10px;
    border-radius: 6px;
    outline: none;
    margin: 10px;
}

.selectName select {
    appearance: none;
    background-color: transparent !important;
    color: black;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
}

.selectName option {
    padding: 10px;
    background-color: white;
    color: green;
}

.selectName option:hover {
    background: olive linear-gradient(olive, olive);
    color: blue;
}